body {
  margin: 1rem;
  background: #8acdea;
}

h1 {
  text-align: center;
  font-size: 6rem;
}

h2 {
  text-align: center;
  font-size: 4rem;
}

input {
  min-width: 20vw;
  height: 2.5rem;
  -webkit-padding-start: 1rem;
  padding-inline-start: 1rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  border: 1px solid #e2e8f0;
  margin: 0.5rem;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  border-radius: 0.375rem;
  font-weight: 600;
  height: 2.5rem;
  font-size: 1rem;
  -webkit-padding-start: 1rem;
  padding-inline-start: 1rem;
  -webkit-padding-end: 1rem;
  padding-inline-end: 1rem;
  color: #f18f01;
  background-color: #006e90;
}

.jeu {
  text-align: center;
  margin: 2rem 1rem 0;
}

#reponse,
#search {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  flex-direction: column;
}

#reponse p {
  font-size: 4rem;
  margin: 0.5rem 0.5rem;
  color: #f18f01;
}

#indices {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  z-index: 3;
}

#indices h2 {
  padding: 3vh;
}

#indices > div {
  display: flex;
  height: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#addLetter,
#addCategorie,
#error {
  margin-top: 1rem;
}

#newGame {
  position: absolute;
  top: 3rem;
}

#texts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ac3931;
  font-size: 1.75rem;
  margin-top: 1rem;
}

#myCanvas {
  height: 190px;
  width: 200px;
}

.canvas {
  text-align: center;
  color: #ac3931;
}

#categorie {
  display: none;
}

#indiceBtn {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 2.5rem;
  right: 3.5rem;
  z-index: 5;
}

.croix {
  display: none;
  font-size: 1.5rem;
  color: black;
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  #newGame {
    top: 6.5rem;
  }

  #indiceBtn {
    top: 1rem;
    right: 1rem;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  #newGame {
    top: 6rem;
  }

  #parties {
    position: absolute;
    top: 4.5rem;
    right: 2rem;
  }

  .jeu {
    margin-top: 4.5rem;
  }

  input,
  button,
  #texts,
  #parties {
    font-size: 1rem;
  }

  #reponse p {
    font-size: 2rem;
  }

  button {
    line-height: 1;
    height: 1.5rem;
    padding: 15px;
    -webkit-padding-start: 0.75rem;
    padding-inline-start: 0.75rem;
    -webkit-padding-end: 0.75rem;
    padding-inline-end: 0.75rem;
  }
}
